  <mat-card >
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form"(submit)="onSalvarLivro()" *ngIf="!isLoading">
      <mat-form-field >
        <input type="text" matInput placeholder="id" formControlName="id" name="id">
        <mat-error *ngIf="form.get('id').invalid">Digite um id valido</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input type="text" matInput placeholder="titulo" formControlName="titulo" name="titulo" >
        <mat-error *ngIf="form.get('titulo').invalid">Digite um titulo valido</mat-error>
    </mat-form-field>
    <br>
    <div>
      <button type="button" mat-stroked-button (click)="selecionaArquivo.click()">Selecionar Imagem</button>
      <input type="file" #selecionaArquivo>
    </div>
    <mat-form-field >
        <input type="text" matInput placeholder="autor" formControlName="autor" name="autor" >
        <mat-error *ngIf="form.get('autor').invalid">Digite um autor valido</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field >
      <input type="text" matInput placeholder="paginas" formControlName="paginas" name="paginas">
      <mat-error *ngIf="form.get('paginas').invalid">Digite um id valido</mat-error>
  </mat-form-field>
  <br>
    <button mat-raised-button color='primary'>Salvar Livro</button>
    </form>

</mat-card>
