  <mat-card >
    <mat-form-field >
        <input type="text" matInput placeholder="id" [(ngModel)]="id">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input type="text" matInput placeholder="titulo" [(ngModel)]="titulo">
    </mat-form-field>
    <br>
    <mat-form-field >
        <input type="text" matInput placeholder="autor" [(ngModel)]="autor">
    </mat-form-field>
    <br>
    <mat-form-field >
      <input type="text" matInput placeholder="paginas" [(ngModel)]="paginas">
  </mat-form-field>
  <br>
    <button mat-raised-button color='accent' >Cadastrar</button>
</mat-card>
